.hero-container {
    display: flex;
    height: 90vh;
    align-items: center;
    top: 150px;
}

.slider-container {
    position: absolute;
    height: 90vh;
    width: 100%;
}

.text-container {
    color: #122d7a;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    margin-left: 80px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.text-container > h1 {
    padding: 20px 10px;
    font-family: 'Courgette';
    font-size: 40px;
    text-align: center;
    border-bottom: solid #122d7a;
}

.text-container > p {
    padding: 20px 10px;
    font-size: 20px;
    text-align: center;
}

.btn-container {
    display: flex;
    margin-bottom: 15px;
}
